*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#lifepoint
{
    width: 100vw;
    height: 100vh;
    font-size: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;
    font-family: 'VT323', monospace;
}