*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#intitle
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-family: 'VT323', monospace;
}

#lifepoint
{
    width: 100vw;
    height: 60vh;
    font-size: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;
    font-family: 'VT323', monospace;
}

#sublifepoint
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-family: 'VT323', monospace;
}